.footer {
    margin-top: 40px;
    padding: 20px 0px;
    background-color: #EDF2F6;
    .footer-top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #C8CACB;
        @media (max-width:1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:800px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:600px) {
            grid-template-columns: auto;
        }
        .footer1 {
            .footer-logo {
                padding-left: 20px;
            }
            .fnumber {
                text-align: left;
                margin-top: 10px;
                a {
                    color: #000;
                }
                .smoke {
                    color: gray;
                }
            }
        }
        .footer2 {
            align-items: baseline;
            .footer-tittle {
                margin-left: 30px;
            }
            a {
                color: #000;
            }
        }
        .footer3 {
            align-items: baseline;
            .footer-tittle {
                margin-left: 30px;
            }
            a {
                color: #000;
            }
        }
        .footer4 {
            align-items: baseline;
            .footer-tittle {
                margin-left: 30px;
            }
            a {
                color: #000;
            }
        }
    }
    .bottom-line {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        .bottom2 {
            .icons {
                a {
                    margin: 0px 10px;
                    color: #4878A6;
                    @media (max-width:600px) {
                        margin: 0px 5px;
                    }
                }
            }
        }
    }
}