.second {
    margin: 30px 0px;
    padding: 30px 0px;
    .tittle-top {
        display: flex;
        width: 370px;
        gap: 28px;
        align-items: baseline;
        margin: 20px 0px;
        @media (max-width: 770px) {
            gap: 23px;
        }
        @media (max-width: 480px) {
            gap: 18px;
        }
        h2 {
            font-size: 31px;
            @media (max-width: 1400px) {
                font-size: 30px;
            }
            @media (max-width: 1200px) {
                font-size: 28px;
            }
            @media (max-width: 1000px) {
                font-size: 26px;
            }
            @media (max-width: 770px) {
                font-size: 24px;
            }
            @media (max-width: 480px) {
                font-size: 22px;
            }
        }
        i {
            font-size: 19px;
            @media (max-width: 1200px) {
                font-size: 18px;
            }
            @media (max-width: 1000px) {
                font-size: 17px;
            }
            @media (max-width: 770px) {
                font-size: 16px;
            }
            @media (max-width: 480px) {
                font-size: 15px;
            }
        }
        a {
            color: #2A5275;
            @media (max-width: 770px) {
                font-size: 15px;
            }
            @media (max-width: 480px) {
                font-size: 14px;
            }
        }
    }
    .grid-blocks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        @media (max-width:1400px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 9px;
        }
        @media (max-width:768px) {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            gap: 8px;
        }
        @media (max-width:480px) {
            gap: 7px;
        }
        .block {
            border: 0.5px solid grey;
            transition: .5s;
            @media (max-width:768px) {
                width: 320px;
            }
            .img {
                position: relative;
                .ps {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    align-items: flex-end;
                    top: 5px;
                    right: 5px;
                    .new {
                        background-color: #48A69B;
                        font-size: 12px;
                        padding: 4px 10px;
                        color: #fff;
                        margin-bottom: 4px;
                        border-radius: 4px;
                        right: 1px;
                        @media (max-width:1000px) {
                            padding: 4px 9px;
                        }
                    }
                    
                    .hot {
                        background-color: #D73838;
                        font-size: 12px;
                        padding: 4px 10px;
                        color: #fff;
                        border-radius: 4px;
                        @media (max-width:1000px) {
                            padding: 4px 9px;
                        }
                    }
                }
            }
            .bottom {
                margin-left: 10px;
                color: gray;
                p {
                    margin-bottom: 5px;
                }
                .tittl {
                    margin-top: 0px;
                    color: #000;
                    p {
                        margin-bottom: 15px;
                    }
                }
                .stars {
                    display: flex;
                    color: #FBB13C;
                    i {
                        margin: 0px 3px;
                    }
                    .comment {
                        color: #000;
                        font-weight: 400;
                        font-size: 18px;
                        margin-left: 10px;
                        display: flex;
                        .nom {
                            margin-left: 5px;
                            font-size: 13px;
                        }
                    }
                }
            }
            .cost {
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                margin-top: 20px;
                gap: 40px;
                .costt {
                    .silver {
                        color: gray;
                        text-decoration-line: line-through;
                        font-size: 16px;
                    }
                    .real {
                        color: #000;
                        font-weight: 700;
                        font-size: 21px;
                    }
                    .narx {
                        width: 130px;
                        .narx1 {
                            display: flex;
                            background-color: #F37748;
                            padding: 2px 8px 2px 5px;
                            border-radius: 32px;
                            align-items: baseline;
                            .foiz {
                                color: black;
                                background-color: #fff;
                                font-size: 12px;
                                padding: 1px;
                                height: 19px;
                                border-radius: 32px;
                                margin-bottom: 0px;
                            }
                            .nar {
                                color: #fff;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                .cost-icon {
                    display: flex;
                    color: grey;
                    margin-top: 40px;
                    .iccon {
                        margin: 0px 5px;
                        border: 1px solid #C8CACB;
                        padding: 13px;
                        color: #C8CACB;
                        border-radius: 4px;
                    }
                    :active {
                        color: red;
                    }
                }
            }
            .clik {
                margin: 20px 0px 20px 10px;
                .clk {
                    color: #4878A6;
                    padding: 9px 47px;
                    border: 1px solid #4878A6;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: 600;width: 0px;
                }
                i {
                    color: #fff;
                    padding: 12px;
                    background-color: #4878A6;
                    margin-left: 8px;
                }
                :active {
                    color: #4878A6;
                    background-color: #ededed;
                }
            }
        }
        .block:hover {
            transition: 0.5s;
            transform: scale(1.02);
        }
    }
}